.Applications__inputs {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding-left: 18%;
}
.input__item {
    min-width: 16.8rem;
    flex-basis: 20%;
    
    color: $gray;
    font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-bottom: 1px $gray solid;
    padding: .6667rem;
 
}